<h1>Biography</h1>

<% @biographies.each do |biography| %>
    <p><%= link_to biography.title, biography_path(biography.id) %></p>
<% end %>

<hr>
<%= link_to "[New Biography]", new_biography_path %>
