<footer>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Que Rico Cakes</h2>
      <ul>
        <li>Ladogameer 83</li>
        <li>Woerden 3446 JA</li>
        <br>
        <li>06 38 05 95 77</li>
        <li>info@quericackes.nl</li>
      </ul>
    </div>
  </div>
</div>
</footer>
