<footer>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Que Rico Cakes</h2>
      <ul>
        <li>Ladogameer 83</li>
        <li>Woerden 3446 JA</li>
        <br>
        <li>06 38059577</li>
        <li>quericowoerden@gmail.com</li>
      </ul>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4 socialmedia">
      <ul>
        <li><a href="https://www.facebook.com/quericowoerdencakes" target="_blank" style="font-size:35px"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
        <li><a href="https://www.instagram.com/quericocustomcakes/" target="_blank"  style="font-size:35px"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</div>
</footer>
