<div class="row">
  <div class="col-md-6 offset-md-3 thanks">
    <div class="thanks-text">
      <h2>Bedankt</h2>
      <p>Uw bestelling is verwerkt en we zullen u zo snel mogelijk contacteren.</p>
      <hr>
      <h2>Thank you</h2>
      <p>Your order has been processed and we will contact you soon</p>
    </div>
  </div>
</div>
