<%= form_for @photo, html: { multipart: true } do |f| %>

<label>Photos</label>

<div class="form-group">
  <span class="btn btn-default">
    Upload Photos
    <%= file_field_tag "images[]", type: :file, multiple: true %>
  </span>
</div>

<div class="actions">
  <%= f.submit "Save", class: "btn btn-primary" %>
</div>

<% end %>
