// application.scss

@import "bootstrap-sprockets"
@import "bootstrap"
@import url('https://fonts.googleapis.com/css?family=Lobster')

html, body
  max-width: 100%
  overflow-x: hidden

.home-body
  height: 100%
  min-height: 90vh

.notifications
  background-image: image-url('Blue_background.jpg')
  padding: 20px
  margin-left: -15px
  margin-right: -15px
  margin-top: -20px

.navbar-brand
  margin-top: -25px

  img
    display: block
    right: 10px
    position: relative

.navbar-default
  background-color: rgba(248, 248, 248, 0)
  border-color: rgba(248, 248, 248, 0)
.navbar
  display: inherit
  min-height: 150px
  ul
    display: inherit
    background: white
    height: 50px
    margin-top: 22px
    width: 100%
    border-radius: 5px

.navbar-brand
  margin-top: -30px

  li a
    color: black
    font-size: 15px
    text-transform: uppercase

.navbar-nav
  li:first-child
    margin-left: 190px

@media all and (max-width: 800px)
  .navbar-brand
    display: none

  #navbarCollapse
    height: 50vh

  .navbar
    display: inherit
    min-height: 50px

    ul
      display: inherit
      background: white
      height: 50vh
      margin-top: 22px
      width: 100%
      border-radius: 5px

      li a
        color: black
        font-size: 15px
        text-transform: uppercase

      li:first-child
        margin-left: 0px



.build-cake
  a
    color: #cf3b4c !important
    font-weight: 800

.navbar-right
  padding-right: 20px

.notifications
  background-image: image-url('Blue_background.jpg')
  padding: 20px
  margin-left: -15px
  margin-right: -15px
  margin-top: -20px

.top-image
  background-image: image-url('Blue_background.jpg')
  height: 90vh
  background-repeat: no-repeat
  background-size: cover
  margin-left: -15px
  margin-right: -15px
  margin-top: -20px

.navbar
  background-image: image-url('Blue_background.jpg')
  background-repeat: no-repeat
  background-size: cover


.home-title h2
  text-align: center
  font-family: 'Lobster', cursive
  color: white
  font-size: 50px

.cake-index
  text-align: center
  img
    width: 430px
    margin-top: 30px

.make-cake-btn
  color: white
  font-family: sans-serif
  background: #6cb5a9
  cursor: pointer

  &:hover
    background: #74c7b9
    color: white
    transition: all 0.3s ease-in-out

.featured
  margin-left: -15px
  margin-right: -15px
  h2
    text-align: center
    font-family: 'Lobster'
    margin-bottom: 20px

.carousel-control-prev
  display: block
  z-index: 99999999999
  position: absolute
  top:  175px
  left: 20px
  span
    font-size: 25px
    color: white

.carousel-control-next
  display: block
  z-index: 99999999999
  position: absolute
  top: 175px
  right: 20px
  span
    font-size: 25px
    color: white

  img
    width: 100%


.teal
  height: 40px
  width: 40px
  background: #1ABC9C
  color: #1ABC9C
  margin-top: 10px
  margin-bottom: 10px
  margin-right: 10px
.salmon
  height: 40px
  width: 40px
  background: #EC7063
  color: #EC7063
  margin-top: 10px
  margin-bottom: 10px
  margin-right: 10px
.orange
  height: 40px
  width: 40px
  background: #D35400
  color: #D35400
  margin-top: 10px
  margin-bottom: 10px
.orchid
  height: 40px
  width: 40px
  background: #0C27CD
  color: #0C27CD
  margin-top: 10px
  margin-bottom: 10px
  margin-right: 10px
.red
  height: 40px
  width: 40px
  background: #CD1E0C
  color: #CD1E0C
  margin-top: 10px
  margin-bottom: 10px
  margin-right: 10px
.gold
  height: 40px
  width: 40px
  background: #CDB80C
  color: #CDB80C
  margin-top: 10px
  margin-bottom: 10px
.purple
  height: 40px
  width: 40px
  background: #CD0CC1
  color: #CD0CC1
  margin-top: 10px
  margin-bottom: 10px
  margin-right: 10px
.sky
  height: 40px
  width: 40px
  background: #5DADE2
  color: #5DADE2
  margin-top: 10px
  margin-bottom: 10px
  margin-right: 10px
.baby_pink
  height: 40px
  width: 40px
  background: #F5B7B1
  color: #F5B7B1
  margin-top: 10px
  margin-bottom: 10px

.contact
  width: 90%
  margin: 0 auto
  h2
    text-align: center
    font-family: 'Lobster'

.btn-send
  background: #6cb5a9
  color: white
  &:hover
    color: white
    background: #498c81

.post
  background: rgba(211, 211, 211, 0.36)

  img
    object-fit: cover

  h4
    padding: 10px
    span
      font-size: 14px
      color: #6cb5a9

footer
  background: #bcf4eb
  margin-left: -15px
  margin-right: -15px
  margin-top: 50px

  h2
    font-family: 'Lobster'
  ul
    margin-left: 0
  li
    list-style: none
    margin-left: -40px


.colors input[type=checkbox]
  cursor: pointer
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  outline: 0

.colors input[type=checkbox]:focus
  outline: 0

.colors input[type=checkbox]:after
  top: -23px
  left: -16px
  font-family: 'Arial' !important
  font-style: normal
  font-weight: normal
  font-size: 81px
  position: relative
  content: "◻"
  color: rgba(0, 0, 0, 0.14)
  display: block

.colors input[type=checkbox]:checked:after
  background-image: image-url('checked.png')
  background-repeat: no-repeat
  color: rgba(0, 0, 0, 0)
  position: relative
  top: 0px
  left: -3px

.cake-images
  background: rgba(211, 211, 211, 0.4)
  text-align: center
  border-radius: 4px

.cake-size
  background: rgba(211, 211, 211, 0.4)
  text-align: center
  border-radius: 4px

  h2
    font-family: 'Lobster'
    padding: 10px
  label
    margin-right: 10px

.cake-flavor
  background: rgba(211, 211, 211, 0.4)
  text-align: center
  border-radius: 4px
  h2
    font-family: 'Lobster'
    padding: 10px
  label
    margin-right: 10px

.cake-filling
  background: rgba(211, 211, 211, 0.4)
  border-radius: 4px
  padding: 10px
  margin-top: 20px

  h2
    font-family: 'Lobster'
    text-align: center
  label
    margin-right: 10px

.cake-style
  background: rgba(211, 211, 211, 0.4)
  text-align: center
  border-radius: 4px
  h2
    font-family: 'Lobster'
    padding: 10px
  label
    margin-right: 10px

.cake-decoration
  background: rgba(211, 211, 211, 0.4)
  padding: 10px
  border-radius: 4px
  margin-top: 20px
  h2
    font-family: 'Lobster'

    text-align: center
  label
    margin-right: 10px

.cake-decoration-color
  background: rgba(211, 211, 211, 0.4)
  padding: 10px
  border-radius: 4px
  text-align: center
  margin-top: 20px
  h2
    font-family: 'Lobster'

  label
    margin-right: 10px

.cake-drop
  background: rgba(211, 211, 211, 0.4)
  text-align: center
  border-radius: 4px
  h2
    font-family: 'Lobster'
    padding: 10px
    margin-top: -20px

  label
    margin-right: 10px

.customer-details
  text-align: center
  border-radius: 4px
  h2
    font-family: 'Lobster'
    padding: 10px
  label
    margin-right: 10px


#order-status-inline
  display: flex
  margin-bottom: 20px

.table
  margin-bottom: 0px

.navbar-make-cake
  position: relative
  margin-top: -6px
  background: #f388a4
  color: white
  cursor: pointer

  &:hover
    color: white
    background: #de6987
    transition: all 0.3s ease-in-out


.step1
  position: relative
  left: -20px
  top: -10px
  width: 100px
  margin-bottom: -100px
  img
    width: 100px

.step2
  margin-top: 20px
  position: relative
  left: -46px
  width: 100px
  margin-bottom: -100px
  img
    width: 100px

.step3
  width: 100px
  position: relative
  float: right
  top: 90px
  right: -30px
  margin-bottom: -80px
  img
    width: 100px

.step4
  width: 100px
  position: relative
  margin-bottom: -100px
  margin-top: 20px
  left: -20px
  top: 18px
  img
    width: 100px

.cake-drip-img
  background: image-url('Chocolate-drip.png')
  width: 100%
  height: 74px
  background-size: contain
  margin-top: 20px

.step5
  width: 100px
  margin-bottom: -100px
  position: relative
  float: right
  top: 103px
  right: -50px

  img
    width: 100px

.thanks
  background-image: image-url('thank_you.png')
  background-repeat: no-repeat
  text-align: center
  background-repeat: no-repeat
  border-radius: 10px
  padding: 20px
  height: 390px
  margin-top: 40px
  background-size: contain
  background-position: center
  img
    width: 80%

.thanks-text
  background: rgba(179, 242, 233, 0.28)
  border-radius: 10px
  height: 100%
  padding-top: 70px

  h2
    font-family: 'Lobster'
    font-size: 40px
  p
    font-weight: 500
    
h1, h2
  font-family: 'Lobster'
