// application.scss

@import "bootstrap-sprockets"
@import "bootstrap"

.teal
  height: 40px
  width: 40px
  background: #1ABC9C
  color: #1ABC9C
  margin-top: 10px
  margin-bottom: 10px
  margin-right: 10px
.salmon
  height: 40px
  width: 40px
  background: #EC7063
  color: #EC7063
  margin-top: 10px
  margin-bottom: 10px
  margin-right: 10px
.orange
  height: 40px
  width: 40px
  background: #D35400
  color: #D35400
  margin-top: 10px
  margin-bottom: 10px
.orchid
  height: 40px
  width: 40px
  background: #0C27CD
  color: #0C27CD
  margin-top: 10px
  margin-bottom: 10px
  margin-right: 10px
.red
  height: 40px
  width: 40px
  background: #CD1E0C
  color: #CD1E0C
  margin-top: 10px
  margin-bottom: 10px
  margin-right: 10px
.gold
  height: 40px
  width: 40px
  background: #CDB80C
  color: #CDB80C
  margin-top: 10px
  margin-bottom: 10px
.purple
  height: 40px
  width: 40px
  background: #CD0CC1
  color: #CD0CC1
  margin-top: 10px
  margin-bottom: 10px
  margin-right: 10px
.sky
  height: 40px
  width: 40px
  background: #5DADE2
  color: #5DADE2
  margin-top: 10px
  margin-bottom: 10px
  margin-right: 10px
.baby_pink
  height: 40px
  width: 40px
  background: #F5B7B1
  color: #F5B7B1
  margin-top: 10px
  margin-bottom: 10px
