// application.scss

@import "bootstrap-sprockets"
@import "bootstrap"
@import url('https://fonts.googleapis.com/css?family=Lobster')

html, body
  max-width: 100%
  overflow-x: hidden


.top-image
  background-image: image-url('Blue_background.jpg')
  height: 90vh
  background-repeat: no-repeat
  background-size: cover
  margin-left: -15px
  margin-right: -15px
  margin-top: -20px

.navbar
  background-image: image-url('Blue_background.jpg')

.navbar-brand
  margin-top: -75px

.nav-new
  display: flex
  justify-content: space-around
  align-items: center
  background: white
  margin: 25px 0
  height: 30px
  border-radius: 4px

.logo
  order: 1
  padding: 24px
  margin-left: 90px

.item
  color: #111
  text-decoration: none
  font-family: sans-serif
  padding: 24px
  &:nth-of-type(n+4)
    order: 2

@media all and (max-width: 800px)
  .nav-new
    flex-direction: column
    align-items: stretch
  .logo
    order: 0
    text-align: center
    width: 100px
    margin: auto auto 20px
  .item
    text-align: center

.navbar-collapse
  text-align: center
  ul
    background-color: white

.navbar-collapse
  ul
    background: rgba(255, 255, 255, 0)

.navbar-custom
  display: flex
  align-items: center
  justify-content: center
  padding-top: 30px

  ul
    margin: 0
    padding: 0
    list-style-type: none

    li
      display: inline

.home-title h2
  text-align: center
  font-family: 'Lobster', cursive
  color: white
  font-size: 50px

.cake-index
  text-align: center
  img
    width: 430px
    margin-top: 30px

.make-cake-btn
  color: white
  font-family: sans-serif
  background: #6cb5a9
  cursor: pointer

  &:hover
    background: #74c7b9
    color: white
    transition: all 0.3s ease-in-out

.featured
  margin-left: -15px
  margin-right: -15px
  h2
    text-align: center
    font-family: 'Lobster'
    margin-bottom: 20px

.carousel-control-prev
  display: block
  z-index: 99999999999
  position: absolute
  top:  175px
  left: 20px
  span
    font-size: 25px
    color: white

.carousel-control-next
  display: block
  z-index: 99999999999
  position: absolute
  top: 175px
  right: 20px
  span
    font-size: 25px
    color: white

  img
    width: 100%


.teal
  height: 40px
  width: 40px
  background: #1ABC9C
  color: #1ABC9C
  margin-top: 10px
  margin-bottom: 10px
  margin-right: 10px
.salmon
  height: 40px
  width: 40px
  background: #EC7063
  color: #EC7063
  margin-top: 10px
  margin-bottom: 10px
  margin-right: 10px
.orange
  height: 40px
  width: 40px
  background: #D35400
  color: #D35400
  margin-top: 10px
  margin-bottom: 10px
.orchid
  height: 40px
  width: 40px
  background: #0C27CD
  color: #0C27CD
  margin-top: 10px
  margin-bottom: 10px
  margin-right: 10px
.red
  height: 40px
  width: 40px
  background: #CD1E0C
  color: #CD1E0C
  margin-top: 10px
  margin-bottom: 10px
  margin-right: 10px
.gold
  height: 40px
  width: 40px
  background: #CDB80C
  color: #CDB80C
  margin-top: 10px
  margin-bottom: 10px
.purple
  height: 40px
  width: 40px
  background: #CD0CC1
  color: #CD0CC1
  margin-top: 10px
  margin-bottom: 10px
  margin-right: 10px
.sky
  height: 40px
  width: 40px
  background: #5DADE2
  color: #5DADE2
  margin-top: 10px
  margin-bottom: 10px
  margin-right: 10px
.baby_pink
  height: 40px
  width: 40px
  background: #F5B7B1
  color: #F5B7B1
  margin-top: 10px
  margin-bottom: 10px

.contact
  width: 90%
  margin: 0 auto
  h2
    text-align: center
    font-family: 'Lobster'

.btn-send
  background: #6cb5a9
  color: white
  &:hover
    color: white
    background: #498c81

.post
  background: rgba(211, 211, 211, 0.36)

  img
    object-fit: cover

  h4
    padding: 10px
    span
      font-size: 14px
      color: #6cb5a9

footer
  background: #bcf4eb
  margin-left: -15px
  margin-right: -15px
  margin-top: 50px

  h2
    font-family: 'Lobster'
  ul
    margin-left: 0
  li
    list-style: none
    margin-left: -40px
