<div class="container">

  <h1> Cakesicles </h1>

  <h3> Cake met chocolade dip! </h3>

  <img src='http://res.cloudinary.com/djxmmaqyo/image/upload/v1508405798/cakesicles_x6etq1.jpg' height="250px" >

  <img src='http://res.cloudinary.com/djxmmaqyo/image/upload/v1508405798/cakesicles1_hypjaq.jpg' height="250px" >

  <p> 01 cakesicles = €2.00 </p>
  <p> 10 cakesicles = €17.00 </p>

</div>
