<div class="container">

  <h1> Lolly Cookies </h1>

  <img src='http://res.cloudinary.com/djxmmaqyo/image/upload/v1508403699/cookies_lyaour.jpg'>

  <h3> Vermaak uw gasten met deze leuke en smakelijke Lolly Cookies! </h3>
  <h3> Dit is een originele traktatie voor op school of verjaardagen! </h3>

  <img src='http://res.cloudinary.com/djxmmaqyo/image/upload/v1508403699/cookie1_es3tdk.jpg' height="250px" >

  <img src='http://res.cloudinary.com/djxmmaqyo/image/upload/v1508403699/cookie2_xdwkn4.jpg' height="250px" >

  <img src='http://res.cloudinary.com/djxmmaqyo/image/upload/v1508403699/cookie3jpg_nuru8p.jpg' height="250px">

  <p> Deze cookies zijn met rietsuiker, natuurlijke smaakstoffen en chia zaden </p>

  <p> 10 cookies = €10.00 </p>
  <p> 20 cookies = €15.00 </p>
  <p> 30 cookies = €20.00 </p>

</div>
