<div class="container">
  <div class="row">
    <div class="col-md-12" style="text-align:center;">
      <h1>Cupcakes</h1>
      <br/>
      <h4> <img src='http://res.cloudinary.com/djxmmaqyo/image/upload/v1508504830/nl_zuhr9d.svg' height="15px"> Binnenkort beschikbaar!! </h4>
      <h4><img src='http://res.cloudinary.com/djxmmaqyo/image/upload/v1508504830/gb_elgx2c.svg' height="15px"> Coming soon!! </h4>

      <img src='http://res.cloudinary.com/djxmmaqyo/image/upload/v1508406117/cupcake_b2p7ei.png' style="width:100%;height: 500px;object-fit: none;margin-top:13px;">

      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
