<div class="container">

  <h1> Meringue Seashells </h1>

  <h3> Verbaas uw gasten met deze Meringue Seashell gevuld met chocolade ganache en zwarte bes parel! </h3>

<img src='http://res.cloudinary.com/djxmmaqyo/image/upload/v1508405440/meringueall_jropt2.jpg' height="250px" >

<img src='http://res.cloudinary.com/djxmmaqyo/image/upload/v1508405440/meringue_dyn6fu.jpg' height="250px" >

<p> Meringue gevulgd met chocolade ganache en zwarte bes. </p>

<p> 10 meringue seashells = €10.00 </p>
<p> 20 meringue seashells = €15.00 </p>

</div>
